// Content
#headline {
    @include content-layout(100%, 130px, 0 auto, center);
    background: $headline-bg-color;
  
    h1 {
        @include text-style($body-bg-color, 2.5em, 100, 50px);
    }
  }
  
  #content {
    width: 940px;
    margin: 20px auto;
  
    h3 {
        @include text-style($secondary-color, 2em, 400);
    }
  
    #products {
      width: 460px;
      float: left;
  
      img {
        float: left;
        margin-right: 20px;
      }
  
      article {
        margin-bottom: 40px;
      }
  
      h4 {
        line-height: 1em;
      }
    }
  
    #testimonials {
      width: 460px;
      float: right;
    }
  }