
// Header
header {
    width: inherit;
    clear: both;
    text-align: center;
    padding-top: 40px;
  
    img {
      max-width: 100%;
      height: auto;
    }
    //mixin usage
    h1 {
      @include text-style(4em, $primary-color, center, 0, 100);
    }
    
    //mixin usage
    h2 {
      @include text-style(2.5em, $body-bg-color, center, 0, 900);
      margin-bottom: 70px;
    }
  
    //mixin usage
    h3 {
      @include text-style(2em, $secondary-color, center, 0, 400);
      margin-bottom: 50px;
    }
  }