// Create at least 3 Sass mixins for all of the generic boxes including logo, 
// navigation menu, header, content areas, and footer. 
@mixin box-layout($width: 100px, $height: 100px, $margin: 0, $padding: 0) {
    width: $width;
    height: $height;
    margin: $margin;
    padding: $padding;
    float: left;
    display: block;
  }
  
  @mixin text-style($font-size: 2em, $color: gold, $align: left, $line-height: normal, $font-weight: 0) {
    font-size: $font-size;
    color: $color;
    text-align: $align;
    line-height: $line-height;
    font-weight: $font-weight;
  }
  
  @mixin content-layout($width: 100%, $height: auto, $margin: 0 auto, $text-align: left) {
    width: $width;
    height: $height;
    margin: $margin;
    text-align: $text-align;
  }

  @mixin text-style2($color: gold, $font-size: 1em, $font-weight: normal, $padding-top: 0) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    padding-top: $padding-top;
  }
  
  @mixin spacing($margin-bottom: 0, $margin-right: 0) {
    margin-bottom: $margin-bottom;
    margin-right: $margin-right;
  }

  //Create a mixin similar to the break() mixin 
  @mixin media-query($args...) {
    @if length($args) == 1 {
        @media (max-width: nth($args, 1)) {
            @content;
        }
    } @else if length($args) == 2 {
        @media (min-width: nth($args, 1)) and (max-width: nth($args, 2)) {
            @content;
        }
    }
}